.sidebar{
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
    align-items: start;
    align-content: start;
    width: 20%;
    padding-left: 5%;
}

.sidebar > p{
    display: block;
    width: 100%;
    margin-bottom: 15px;
}

.sidebar > p > strong {
    display: block;
    margin-bottom: 5px;
}